body { max-width:800px; margin: auto; margin-top: 28px; font-family: Roboto,sans; margin-bottom: 100px; font-size: 1.2em; }
.e { margin-bottom: 22px; }
.col1 { width:12%;padding-left:2%;padding-right:2%;float:left; }
.col2 { width:56%;margin-left:2%;margin-right:2%;float:left; }
.col3 { width:20%;padding-left:2%;padding-right:2%;float:left; }
.content { border-radius: 12px; padding: 10px; margin-bottom: 50px; width:100%; float: left; }
.menu { margin-bottom: 25px; float:left;width:100%; }
.hy { background-color: yellow; }
.hc { background-color: lightcyan; }
.h { display: none; }
pre { border: 1px solid green; border-radius: 6px; padding: 10px; white-space: pre-wrap; }
.hide { display: none; }
.flag { color: green; }
button { font-size: 16px; background-color: inherit; border-radius: 4px; border: 1px solid silver; margin-left 8px; }
.differentiate { color: darkslategray; }
/*
.task { margin-top: 6px; margin-bottom: 6px; }
*/
.action { margin-top: 6px; margin-bottom: 6px; }
.waiting { margin-top: 6px; margin-bottom: 6px; }
/*
.note { margin-left: 0px; margin-top: 7px; margin-bottom: 7px; }
*/
li { list-style-position: outside; }
.update { margin-bottom: 12px; }
.bullet1 {margin-left:20px} .bullet2 {margin-left:40px} .bullet3 {margin-left:60px} 
